.maintext{
    font-family: DM Sans;
font-weight: 400;
font-size: 13px;
line-height: 100%;
letter-spacing: 0%;
color: #666666;
}
.carnametext{
    font-family: DM Sans;
font-weight: 700;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: #333333;

}
@media (max-width:650px) {
   .starimg{
    margin-left: 100%;
   }

    .cartitlesec{
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin-left: 0px;
        width: 100%;
    }
    .mainsec{
        display: flex;
        flex-direction: column;
        margin-left: 0px; 
    }
}